USE [master]
GO
/****** Object:  Database [XGame]    Script Date: 3/1/2021 1:41:02 PM ******/
CREATE DATABASE [XGame]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'XGame', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\XGame.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'XGame_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\XGame_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XGame].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XGame]
GO
/****** Object:  Table [dbo].[Regions]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Regions](
	[region_ID] [int] IDENTITY(0,1) NOT NULL,
	[regionName] [nvarchar](100) NOT NULL,
	[regionDanger] [int] NOT NULL,
	[hasShop] [int] NOT NULL,
	[regionDesc] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[region_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[item_ID] [int] IDENTITY(0,1) NOT NULL,
	[itemName] [nvarchar](100) NOT NULL,
	[healthModifier] [int] NULL,
	[magicaModifier] [int] NULL,
	[staminaModifier] [int] NULL,
	[itemType] [int] NULL,
	[goldPrice] [int] NULL,
	[armorMod] [int] NOT NULL,
	[damageMod] [int] NOT NULL,
	[weaponType] [int] NULL,
	[armorType] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[item_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Characters]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characters](
	[character_ID] [int] IDENTITY(0,1) NOT NULL,
	[characterName] [nvarchar](200) NOT NULL,
	[characterClass_FK] [int] NOT NULL,
	[characterLocation_FK] [int] NOT NULL,
	[characterUser_FK] [int] NOT NULL,
	[characterGold] [int] NOT NULL,
	[characterLvl] [int] NOT NULL,
	[characterXP] [int] NOT NULL,
	[characterHealth] [int] NULL,
	[Armor] [int] NOT NULL,
	[MaxHP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[character_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventories]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventories](
	[inventory_ID] [int] IDENTITY(0,1) NOT NULL,
	[character_FK] [int] NOT NULL,
	[item_FK] [int] NOT NULL,
	[isEquipted] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[inventory_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[viewOne]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[viewOne] AS 
SELECT c.characterName, i.itemName,r.regionName
FROM Characters AS c
JOIN Inventories AS v on v.character_FK = c.character_ID
JOIN Items AS i on v.item_FK = i.item_ID
JOIN Regions AS r ON c.characterLocation_FK = r.region_ID;
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[class_ID] [int] IDENTITY(0,1) NOT NULL,
	[className] [nvarchar](100) NOT NULL,
	[classArmor] [int] NOT NULL,
	[classStamina] [int] NULL,
	[classMagica] [int] NULL,
	[classDamage] [int] NOT NULL,
	[baseHP] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[class_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLogging]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogging](
	[log_ID] [int] IDENTITY(0,1) NOT NULL,
	[errorName] [nvarchar](200) NOT NULL,
	[errorMsg] [nvarchar](max) NOT NULL,
	[errorSrc] [nvarchar](200) NOT NULL,
	[errorDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monsterDrops]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monsterDrops](
	[drop_ID] [int] IDENTITY(0,1) NOT NULL,
	[item_FK] [int] NOT NULL,
	[monster_FK] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[drop_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monsters]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monsters](
	[monster_ID] [int] IDENTITY(0,1) NOT NULL,
	[monsterName] [nvarchar](100) NOT NULL,
	[monsterHealth] [int] NOT NULL,
	[monsterArmor] [int] NOT NULL,
	[monsterDamage] [int] NOT NULL,
	[monsterDanger] [int] NOT NULL,
	[monsterBehaviour] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[monster_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_ID] [int] IDENTITY(0,1) NOT NULL,
	[roleName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_ID] [int] IDENTITY(0,1) NOT NULL,
	[role_FK] [int] NOT NULL,
	[userName] [nvarchar](500) NOT NULL,
	[userPassword] [nvarchar](200) NOT NULL,
	[dateAdded] [datetime] NOT NULL,
	[dateModified] [datetime] NULL,
	[Email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Characters] ON 

INSERT [dbo].[Characters] ([character_ID], [characterName], [characterClass_FK], [characterLocation_FK], [characterUser_FK], [characterGold], [characterLvl], [characterXP], [characterHealth], [Armor], [MaxHP]) VALUES (154, N'Test', 4, 0, 1130, 0, 1, 0, 150, 0, 150)
INSERT [dbo].[Characters] ([character_ID], [characterName], [characterClass_FK], [characterLocation_FK], [characterUser_FK], [characterGold], [characterLvl], [characterXP], [characterHealth], [Armor], [MaxHP]) VALUES (155, N'Leonitas', 4, 0, 1130, 50, 1, 0, 170, 0, 150)
INSERT [dbo].[Characters] ([character_ID], [characterName], [characterClass_FK], [characterLocation_FK], [characterUser_FK], [characterGold], [characterLvl], [characterXP], [characterHealth], [Armor], [MaxHP]) VALUES (162, N'Default', 4, 0, 1159, 100, 1, 0, 150, 0, 150)
SET IDENTITY_INSERT [dbo].[Characters] OFF
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([class_ID], [className], [classArmor], [classStamina], [classMagica], [classDamage], [baseHP]) VALUES (3, N'Hunter', 1, 125, 0, 10, 100)
INSERT [dbo].[Classes] ([class_ID], [className], [classArmor], [classStamina], [classMagica], [classDamage], [baseHP]) VALUES (4, N'Warrior', 2, 150, 0, 35, 150)
INSERT [dbo].[Classes] ([class_ID], [className], [classArmor], [classStamina], [classMagica], [classDamage], [baseHP]) VALUES (5, N'Thief', 1, 140, 50, 15, 75)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[ErrorLogging] ON 

INSERT [dbo].[ErrorLogging] ([log_ID], [errorName], [errorMsg], [errorSrc], [errorDate]) VALUES (1, N'Error Test', N'Message Test', N'Source Test', CAST(N'2019-06-19T15:11:19.883' AS DateTime))
INSERT [dbo].[ErrorLogging] ([log_ID], [errorName], [errorMsg], [errorSrc], [errorDate]) VALUES (1013, N'System.Data.SqlClient.SqlException (0x80131904): Procedure or function ''sp_adduser'' expects parameter ''@loginame'', which was not supplied.
   at System.Data.SqlClient.SqlConnection.OnError(SqlExcepti', N'Procedure or function ''sp_adduser'' expects parameter ''@loginame'', which was not supplied.', N'Core .Net SqlClient Data Provider', CAST(N'2019-06-20T15:04:42.383' AS DateTime))
INSERT [dbo].[ErrorLogging] ([log_ID], [errorName], [errorMsg], [errorSrc], [errorDate]) VALUES (1015, N'System.Data.SqlClient.SqlException (0x80131904): Procedure or function ''sp_adduser'' expects parameter ''@loginame'', which was not supplied.
   at System.Data.SqlClient.SqlConnection.OnError(SqlExcepti', N'Procedure or function ''sp_adduser'' expects parameter ''@loginame'', which was not supplied.', N'Core .Net SqlClient Data Provider', CAST(N'2019-06-20T15:11:54.170' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[ErrorLogging] OFF
GO
SET IDENTITY_INSERT [dbo].[Inventories] ON 

INSERT [dbo].[Inventories] ([inventory_ID], [character_FK], [item_FK], [isEquipted]) VALUES (666, 155, 18, 0)
INSERT [dbo].[Inventories] ([inventory_ID], [character_FK], [item_FK], [isEquipted]) VALUES (668, 155, 17, 1)
INSERT [dbo].[Inventories] ([inventory_ID], [character_FK], [item_FK], [isEquipted]) VALUES (669, 155, 17, 0)
SET IDENTITY_INSERT [dbo].[Inventories] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([item_ID], [itemName], [healthModifier], [magicaModifier], [staminaModifier], [itemType], [goldPrice], [armorMod], [damageMod], [weaponType], [armorType]) VALUES (0, N'Test Item: Dont remove', 10, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[Items] ([item_ID], [itemName], [healthModifier], [magicaModifier], [staminaModifier], [itemType], [goldPrice], [armorMod], [damageMod], [weaponType], [armorType]) VALUES (3, N'Health Potion', 5, 0, 0, 0, 10, 0, 0, 0, 0)
INSERT [dbo].[Items] ([item_ID], [itemName], [healthModifier], [magicaModifier], [staminaModifier], [itemType], [goldPrice], [armorMod], [damageMod], [weaponType], [armorType]) VALUES (4, N'Better Health Potion', 15, 0, 0, 0, 10, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Monsters] ON 

INSERT [dbo].[Monsters] ([monster_ID], [monsterName], [monsterHealth], [monsterArmor], [monsterDamage], [monsterDanger], [monsterBehaviour]) VALUES (50, N'KingSLime', 300, 0, 10, 1, 2)
INSERT [dbo].[Monsters] ([monster_ID], [monsterName], [monsterHealth], [monsterArmor], [monsterDamage], [monsterDanger], [monsterBehaviour]) VALUES (51, N'Spider', 25, 5, 20, 2, 2)
INSERT [dbo].[Monsters] ([monster_ID], [monsterName], [monsterHealth], [monsterArmor], [monsterDamage], [monsterDanger], [monsterBehaviour]) VALUES (52, N'Sprite', 30, 5, 20, 3, 1)
SET IDENTITY_INSERT [dbo].[Monsters] OFF
GO
SET IDENTITY_INSERT [dbo].[Regions] ON 

INSERT [dbo].[Regions] ([region_ID], [regionName], [regionDanger], [hasShop], [regionDesc]) VALUES (0, N'XGame', 1, 1, N'The capital of the land of XGame. You can see busy people rushing about, and noble talking and laughing as they drink thier fancy tea. 
As you look around the many shops and businesses a large grey castle can be seen in the distance.')
INSERT [dbo].[Regions] ([region_ID], [regionName], [regionDanger], [hasShop], [regionDesc]) VALUES (2, N'Black Mountain', 7, 0, N'You feel the cold air of the mountain as you arrive. No sound but the eerie wind and pepples benearth your feet. Altough not seeing anyone you feel
as if youre being watched. Dont let your guard down here.')
INSERT [dbo].[Regions] ([region_ID], [regionName], [regionDanger], [hasShop], [regionDesc]) VALUES (3, N'Shifting Swamp', 5, 0, N'Welcom to the swamp. The smell of decay and sweet flowers hits your nose making you scrunc your face at the mixture. The sounds of 
wildlife can be heard everywhere as you stand a few meters from a large body of water. You feel a mistep could get you killed here...')
SET IDENTITY_INSERT [dbo].[Regions] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([role_ID], [roleName]) VALUES (0, N'User')
INSERT [dbo].[Roles] ([role_ID], [roleName]) VALUES (1, N'Administrator')
INSERT [dbo].[Roles] ([role_ID], [roleName]) VALUES (3, N'GameMaster')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_ID], [role_FK], [userName], [userPassword], [dateAdded], [dateModified], [Email]) VALUES (1126, 0, N'User', N'Password99@', CAST(N'2019-06-27T14:29:06.453' AS DateTime), CAST(N'2019-06-27T14:29:06.453' AS DateTime), N'None')
INSERT [dbo].[Users] ([user_ID], [role_FK], [userName], [userPassword], [dateAdded], [dateModified], [Email]) VALUES (1130, 1, N'User1', N'Password99@', CAST(N'2019-06-27T14:39:08.343' AS DateTime), CAST(N'2019-06-27T14:39:08.343' AS DateTime), N'xxx@mail.com')
INSERT [dbo].[Users] ([user_ID], [role_FK], [userName], [userPassword], [dateAdded], [dateModified], [Email]) VALUES (1159, 3, N'GameMaster', N'Password99@', CAST(N'2019-07-29T22:18:47.027' AS DateTime), CAST(N'2019-07-29T22:18:47.027' AS DateTime), N'xxx@mail.com')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Characters] ADD  DEFAULT ((0)) FOR [Armor]
GO
ALTER TABLE [dbo].[ErrorLogging] ADD  DEFAULT (getdate()) FOR [errorDate]
GO
ALTER TABLE [dbo].[Inventories] ADD  DEFAULT ((0)) FOR [isEquipted]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [armorMod]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [damageMod]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [dateAdded]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [dateModified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('No Email') FOR [Email]
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD FOREIGN KEY([characterClass_FK])
REFERENCES [dbo].[Classes] ([class_ID])
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD FOREIGN KEY([characterLocation_FK])
REFERENCES [dbo].[Regions] ([region_ID])
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD FOREIGN KEY([characterUser_FK])
REFERENCES [dbo].[Users] ([user_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD FOREIGN KEY([character_FK])
REFERENCES [dbo].[Characters] ([character_ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Inventories]  WITH CHECK ADD FOREIGN KEY([item_FK])
REFERENCES [dbo].[Items] ([item_ID])
GO
ALTER TABLE [dbo].[monsterDrops]  WITH CHECK ADD FOREIGN KEY([item_FK])
REFERENCES [dbo].[Items] ([item_ID])
GO
ALTER TABLE [dbo].[monsterDrops]  WITH CHECK ADD FOREIGN KEY([monster_FK])
REFERENCES [dbo].[Monsters] ([monster_ID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([role_FK])
REFERENCES [dbo].[Roles] ([role_ID])
GO
/****** Object:  StoredProcedure [dbo].[SP_AddCharacter]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_AddCharacter] 
	-- Add the parameters for the stored procedure here
	@parm_characterName NVARCHAR(200),
	@parm_characterClass INT,
	@parm_characterUser INT,
	@parm_characterHealth INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Characters(characterName, characterClass_FK,characterLocation_FK, characterUser_FK, characterGold, characterLvl, characterXP,characterHealth, MaxHP)
	VALUES(
	@parm_characterName, 
	@parm_characterClass,
	0,
	@parm_characterUser,
	100,
	1,
	0,
	@parm_characterHealth,
	@parm_characterHealth
	);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddMonster]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_AddMonster] 
	-- Add the parameters for the stored procedure here
	@parm_monsterName NVARCHAR(100),
	@parm_monsterHealth INT,
	@parm_monsterArmor INT,
	@parm_monsterDamage INT, 
	@parm_monsterDanger INT,
	@parm_monsterBehaviour INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Monsters(monsterName, monsterHealth, monsterArmor, monsterDamage, monsterDanger, monsterBehaviour)
	VALUES(
	@parm_monsterName,
	@parm_monsterHealth,
	@parm_monsterArmor,
	@parm_monsterDamage, 
	@parm_monsterDanger, 
	@parm_monsterBehaviour
	)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddToInventory]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_AddToInventory] 
	-- Add the parameters for the stored procedure here
	@parm_characterID INT,
	@parm_itemID INT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Inventories(character_FK, item_FK)
	VALUES(
	@parm_characterID,
	@parm_itemID
	)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AddUsers]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_AddUsers]
	-- Add the parameters for the stored procedure here
	@parm_username NVARCHAR(500),
	@parm_password NVARCHAR(200),
	@parm_email NVARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Users(userName, role_FK, userPassword, Email)
	VALUES(
	@parm_username,
	0,
	@parm_password,
	@parm_email
	);
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangeUserRole]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_ChangeUserRole]
	-- Add the parameters for the stored procedure here
	@parm_userID INT,
	@parm_newRole INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Users
	SET role_FK = @parm_newRole
	WHERE user_ID = @parm_userID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckForUsername]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_CheckForUsername] 
	-- Add the parameters for the stored procedure here
	@parm_userName NVARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT userName FROM Users
	WHERE userName = @parm_userName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ClearInventory]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_ClearInventory] 
	-- Add the parameters for the stored procedure here
	@parm_characterID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Inventories
	WHERE character_FK = @parm_characterID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCharacter]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
/*
                                character.Armor = (int)reader["Armor"];*/
CREATE PROCEDURE  [dbo].[SP_GetCharacter]
	-- Add the parameters for the stored procedure here
	@parm_characterID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT characterName, characterClass_FK, characterHealth,MaxHP, characterLocation_FK, characterXP, characterGold,characterLvl,Armor FROM Characters
	WHERE character_ID = @parm_characterID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCharacterInventory]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetCharacterInventory] 
	-- Add the parameters for the stored procedure here
	@parm_characterID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT armorMod, damageMod,itemName, item_FK,healthModifier, staminaModifier, magicaModifier,itemType,goldPrice,inventory_ID,isEquipted FROM Inventories
JOIN Items ON Inventories.item_FK = Items.item_ID
WHERE Inventories.character_FK  = @parm_characterID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetCharacterList]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_GetCharacterList]
	-- Add the parameters for the stored procedure here
	@parm_userID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT characterName, characterLvl,Classes.className,Classes.class_ID, character_ID, characterHealth,MaxHp,characterXP, characterGold
	FROM Characters
	JOIN Classes ON Characters.characterClass_FK = Classes.class_ID
	WHERE characterUser_FK = @parm_userID;
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetClassInfo]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetClassInfo] 
	-- Add the parameters for the stored procedure here
	@parm_classID INT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT classArmor, classDamage, classStamina, classMagica,className, baseHP FROM Classes
	WHERE class_ID = @parm_classID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetClassList]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetClassList]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT class_ID, className FROM Classes;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetInventoryID]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetInventoryID]
	-- Add the parameters for the stored procedure here
	@parm_characterID INT,
	@parm_itemID INT 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT inventory_ID FROM Inventories
	WHERE character_FK = @parm_characterID AND item_FK = @parm_itemID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetItemsList]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetItemsList] 
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT item_ID, itemName,itemType, magicaModifier, healthModifier, staminaModifier, armorMod, armorType, damageMod, weaponType, goldPrice FROM Items;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMonsterList]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetMonsterList] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT monsterName, monsterBehaviour,monsterHealth, monsterArmor, monsterDanger, monsterDamage, monster_ID FROM Monsters;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetMonstersByDanger]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetMonstersByDanger] 
	-- Add the parameters for the stored procedure here
	@parm_minDanger INT,
	@parm_maxDanger INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT monster_ID, monsterName, monsterHealth, monsterArmor, monsterDamage, monsterDanger,monsterBehaviour 
	FROM Monsters
	WHERE monsterDanger BETWEEN @parm_minDanger AND @parm_maxDanger;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRegionInfo]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetRegionInfo]
	-- Add the parameters for the stored procedure here
	@parm_regionID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT regionDanger, hasShop, region_ID FROM Regions
	WHERE region_ID = @parm_regionID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRegions]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetRegions] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  regionDanger, regionName,hasShop, region_ID, regionDesc FROM Regions;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetRoles]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetRoles]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM Roles;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTestCharacterID]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetTestCharacterID] 
	-- Add the parameters for the stored procedure here
	@parm_characterName NVARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT character_ID FROM Characters
	WHERE characterName = @parm_characterName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetTestMonsterID]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetTestMonsterID] 
	-- Add the parameters for the stored procedure here
	@parm_monsterName NVARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT monster_ID FROM Monsters
	WHERE monsterName = @parm_monsterName
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUsers]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetUsers]
	-- Add the parameters for the stored procedure here
	@parm_username NVARCHAR(500),
	@parm_password NVARCHAR(200)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT user_ID, userName,role_FK , Email FROM Users
	WHERE userName = @parm_username AND userPassword = @parm_password;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetUsersList]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_GetUsersList]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT user_ID, userName,dateAdded, Email, role_FK FROM Users;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_LogError]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_LogError]
	-- Add the parameters for the stored procedure here
	@parm_errorName NVARCHAR(200),
	@parm_errorMsg NVARCHAR(MAX),
	@parm_errorSrc NVARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO ErrorLogging(errorName, errorMsg, errorSrc)
	VALUES(
	@parm_errorName,
	@parm_errorMsg,
	@parm_errorSrc
	)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ReadError]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_ReadError] 
	-- Add the parameters for the stored procedure here
	@parm_errorName NVARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select errorName FROM ErrorLogging
	WHERE errorName = @parm_errorName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveCharacter]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RemoveCharacter] 
	-- Add the parameters for the stored procedure here
	@parm_characterID INT,
	@parm_userID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Characters
	WHERE character_ID = @parm_characterID AND characterUser_FK = @parm_userID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveError]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_RemoveError]
	-- Add the parameters for the stored procedure here
	@parm_errorName NVARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM ErrorLogging
	WHERE errorName = @parm_errorName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveItemFromInventory]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RemoveItemFromInventory] 
	-- Add the parameters for the stored procedure here
	@parm_inventoryID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Inventories
	WHERE inventory_ID = @parm_inventoryID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveMonster]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RemoveMonster] 
	-- Add the parameters for the stored procedure here
	@parm_monsterID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Monsters
	WHERE monster_ID = @parm_monsterID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveTestCharacters]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RemoveTestCharacters] 
	-- Add the parameters for the stored procedure here
	@parm_characterName NVARCHAR(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Characters
	WHERE characterName = @parm_characterName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveTestMonster]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RemoveTestMonster] 
	-- Add the parameters for the stored procedure here
	@parm_monsterName NVARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Monsters
	WHERE monsterName = @parm_monsterName
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RemoveUser]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_RemoveUser]
	-- Add the parameters for the stored procedure here
	@parm_userID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE FROM Users 
	WHERE user_ID = @parm_userID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateCharacter]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateCharacter] 
	-- Add the parameters for the stored procedure here
	@parm_characterLocation INT,
	@parm_characterGold INT,
	@parm_characterLvl INT, 
	@parm_characterXp INT,
	@parm_characterHealth INT,
	@parm_characterID INT,
	@parm_maxHealth INT,
	@parm_charcterName NVARCHAR(200),
	@parm_classID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Characters
	SET characterLocation_FK = @parm_characterLocation,
		characterGold = @parm_characterGold,
		characterLvl = @parm_characterLvl,
		characterXP = @parm_characterXp,
		characterHealth = @parm_characterHealth,
		MaxHP = @parm_maxHealth,
		characterClass_FK = @parm_classID,
		characterName = @parm_charcterName
	WHERE character_ID = @parm_characterID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateInventoryItem]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_UpdateInventoryItem]
	-- Add the parameters for the stored procedure here
	@parm_inventoryID INT, 
	@parm_isEquipted INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Inventories
	SET isEquipted = @parm_isEquipted
	WHERE inventory_ID = @parm_inventoryID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateMonster]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateMonster]
	-- Add the parameters for the stored procedure here
	@parm_monsterID INT,
	@parm_monsterName NVARCHAR(100),
	@parm_monsterHealth INT,
	@parm_monsterArmor INT,
	@parm_monsterDamage INT, 
	@parm_monsterDanger INT,
	@parm_monsterBehaviour INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Monsters
	SET monsterName = @parm_monsterName,
		monsterHealth = @parm_monsterHealth,
		monsterArmor = @parm_monsterArmor,
		monsterDamage = @parm_monsterDamage,
		monsterDanger = @parm_monsterDanger,
		monsterBehaviour = @parm_monsterBehaviour
	WHERE monster_ID = @parm_monsterID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUser]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE  [dbo].[SP_UpdateUser]
	-- Add the parameters for the stored procedure here
	@parm_userID INT,
	@parm_newUsername NVARCHAR(200),
	@parm_newPassword NVARCHAR(200),
	@parm_newEmail NVARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Users
	SET userName = @parm_newUsername, userPassword = @parm_newPassword, Email = @parm_newEmail
	WHERE user_ID = @parm_userID;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateUserCharacter]    Script Date: 3/1/2021 1:41:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_UpdateUserCharacter]
	-- Add the parameters for the stored procedure here
	@parm_characterName NVARCHAR(200),
	@parm_characterID INT,
	@parm_classID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	UPDATE Characters
	SET characterName = @parm_characterName, characterClass_FK = @parm_classID
	WHERE character_ID = @parm_characterID
END
GO











-- ALL ALTERS GO BELOW !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
-- DO NOT CHANGE ANYTHING ABOVE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
-- COMMENT YOUR CHANGE WITH AUTHOR, DATE, DESCRIPTION
-- =============================================
-- EDITS BEGIN HERE
-- =============================================

/****** Object:  StoredProcedure [dbo].[SP_GetCharacterList]    Script Date: 1/4/2022 2:25:19 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		aaron
-- Create date: 1/4/22
-- Description:	updated getCharacterList to include gold
-- =============================================
ALTER PROCEDURE  [dbo].[SP_GetCharacterList]
	-- Add the parameters for the stored procedure here
	@parm_userID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT characterName, characterLvl,Classes.className,Classes.class_ID, character_ID, characterHealth,MaxHp,characterXP, characterGold
	FROM Characters
	JOIN Classes ON Characters.characterClass_FK = Classes.class_ID
	WHERE characterUser_FK = @parm_userID;
	
END
GO

GO
-- =============================================
-- Author:		giancarlo rhodes
-- Create date:  1/5/2021
-- Description:	needs to include password so it's being added
-- =============================================
ALTER PROCEDURE [dbo].[SP_GetUsersList]
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT user_ID, userName,dateAdded, Email, role_FK, userPassword FROM Users;
END



-- =============================================
-- Author:		Aaron
-- Create date: 1/4/22
-- Description:	update to region descriptions
-- =============================================

GO
UPDATE Regions
SET regionDesc = 'The capital of the land of XGame. You can see busy people rushing about, and nobles talking and laughing as they drink their fancy tea. 
As you look around you see many shops and businesses. A large gray castle can also be seen in the distance.'
WHERE region_ID = 0
UPDATE Regions
SET regionDesc = 'You feel the cold air of the mountain as you arrive. The only sounds are the eerie wind and pebbles beneath your feet. You see noone but feel
as if you are being watched. Do not let your guard down here.'
WHERE region_ID = 2
UPDATE Regions
SET regionDesc = 'Welcome to the swamp. The smell of decay and sweet flowers hits your nose making you scrunch your face at the mixture. The sounds of 
wildlife can be heard everywhere as you stand a few meters from a large body of water. You feel a mistep could get you killed here...'
WHERE region_ID = 3
UPDATE Regions
SET regionDesc = 'The bleeding meadow. You see a beautiful field of gentle grass a few flowers scattered throught the area. The more you stand here 
the colder you feel. You remember the legends of the elven war that took blace here. Shaking your head you think of what to do.'
WHERE region_ID = 4
UPDATE Regions
SET regionDesc = 'Walking into the thick mist you squint your eyes trying to look ahead. The area is suprisingly warm as you walk. Your steps making 
soft taps on the gray stone. This place has rumors of dangerous creatures roaming about. Do not let your guard down.'
WHERE region_ID = 5

-- =============================================
-- Author:		Aaron
-- Create date: 1/4/22
-- Description:	update "test item" to "Greater Health Potion"
-- =============================================

UPDATE Items
SET itemName = 'Greater Health Potion',
	healthModifier = 40,
	goldPrice = 20
WHERE item_ID = 0





GO
-- =============================================
-- Author:		giancarlo rhodes
-- Create date: 1/5/2022
-- Description:	working on admin user updates, adding the existing sp
-- =============================================
ALTER PROCEDURE  [dbo].[SP_UpdateUser]
	-- Add the parameters for the stored procedure here
	@parm_userID INT,
	@parm_newRoleID INT,
	@parm_newUsername NVARCHAR(500),
	@parm_newPassword NVARCHAR(200),
	@parm_dateModified DATETIME,
	@parm_newEmail NVARCHAR(100)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--UPDATE Users
	--	SET 
	--		userName = @parm_newUsername, 
	--		userPassword = @parm_newPassword, 
	--		Email = @parm_newEmail
	--WHERE user_ID = @parm_userID;

	UPDATE [dbo].[Users]
		   SET 
				[role_FK] = @parm_newRoleID
				,[userName] = @parm_newUsername
				,[userPassword] = @parm_newPassword
				,[dateModified] = @parm_dateModified
				,[Email] = @parm_newEmail
			WHERE  user_ID = @parm_userID;
END




-- =============================================
-- EDITS END HERE
-- =============================================







USE [master]
GO

