
@{
    ViewBag.Title = "FAQS";
}
<div class="row" style="margin-top: 2%;">
    <div class="col-md-4 ml-md-auto d-flex justify-content-center">
        <h2>FAQS</h2>
    </div>
    <div class="col-md-4" id="menu-button-style">
        <div class="row">
            <div class="row">
                <div class="nav-side" id="user-menu-button">
                    <div class="dropdown">
                        <button onclick="dropDown()" class="dropBtn">More</button>
                        <div id="myDropdown" class="dropdown-item">
                            <a onclick="location.href='@Url.Action("Index", "Home")'"> Home</a>
                            <a onclick="location.href='@Url.Action("Register", "Home")'"> Register</a>
                            <a onclick="location.href='@Url.Action("Login", "Home")'"> Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center" id="content">
    <div class="col-md-6">
        <div class="title" style="height: 30vw; width: 30vw; ">

            <p style="margin-top: 20%; ">
                Want to become an Admin? Forgot your password? Contact the game creator via email at, <a>xelous99@gmail.com</a>.
                The game is painted to be a text based adventure.
            </p>
            <p>
                Do your best to survive and gain as much gold as possible.
            </p>
            <p style=" font-weight: bold; ">
                WARNING! All character deaths result in permanent deletion of the character info. Once dead. No respawns
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="title" style="height: 30vw; width: 30vw; ">

            <p style="margin-top: 20%; font-weight: bold; ">
                Q:How do I revive dead characters?
            </p>
            <p>
                A: At the current time character deaths are permanent. But new revival spells and items are in the works for future updates
            </p>
            <p style="font-weight: bold;">
                Q: Can I make custom monsters?
            <p>
                A: Currently monster creation is left to admins/developers for the game. We don't want a flood of unwanted monsters in the game.
                Future update will have personal monsters only the creator can encounter.
            </p>
        </div>
    </div>
</div>


